
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

        body {
            background-color: #c9d1d9;
            font-family: Montserrat;
        }

        p, a {
            font-size: 20px;
            color: #475550;
        }

        h1, h3 {
            color: darkgreen;
        }

        .trybe-green {
            color: #006b46;
        }

        #html {
            background-color: darkcyan;
        }